<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <%= form_with(model: track, local: true, class: "needs-validation", novalidate: true) do |form| %>
        <% if track.errors.any? %>
          <div class="alert alert-danger">
            <h4 class="alert-heading"><%= pluralize(track.errors.count, "error") %> prohibited this track from being saved:</h4>
            <ul>
              <% track.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <%= form.label :title, class: "form-label" %>
          <%= form.text_field :title, class: "form-control", required: true %>
        </div>

        <div class="form-group">
          <%= form.label :length, class: "form-label" %>
          <%= form.number_field :length, class: "form-control", required: true %>
        </div>

        <div class="form-group">
          <%= form.label :artist_id, "Artist", class: "form-label" %>
          <%= form.collection_select :artist_id, Artist.all, :id, :name, {prompt: "Select an artist"}, {class: "form-control"} %>
        </div>

        <div class="form-group">
          <%= form.label :genre_id, "Genre", class: "form-label" %>
          <%= form.collection_select :genre_id, Genre.all, :id, :name, {prompt: "Select a genre"}, {class: "form-control"} %>
        </div>

        <div class="form-group">
          <%= form.label :album_id, "Album", class: "form-label" %>
          <%= form.collection_select :album_id, Album.all, :id, :title, {prompt: "Select an album"}, {class: "form-control"} %>
        </div>

        <div class="form-group text-center">
          <%= form.submit "Save Track", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
