<div id="<%= dom_id track %>" class="card mt-3">
  <div class="card-body">
    <h5 class="card-title"><%= track.title %></h5>
    <p class="card-text"><strong>Length:</strong> <%= track.length %> seconds</p>
    <p class="card-text"><strong>Artist:</strong> <%= link_to track.artist.name, artist_path(track.artist) %></p>
    <p class="card-text"><strong>Genre:</strong> <%= link_to track.genre.name, genre_path(track.genre) %></p>
    <p class="card-text"><strong>Album:</strong> <%= link_to track.album.title, album_path(track.album) %></p>
  </div>
</div>
