<div id="<%= dom_id track %>">
  <p>
    <strong>Title:</strong>
    <%= track.title %>
  </p>

  <p>
    <strong>Length:</strong>
    <%= track.length %>
  </p>

  <p>
    <strong>Artist:</strong>
    <%= track.artist_id %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= track.genre_id %>
  </p>

  <p>
    <strong>Album:</strong>
    <%= track.album_id %>
  </p>

</div>
