<p style="color: green"><%= notice %></p>

<%= render @artist %>

<div class="d-flex justify-content-between mt-3">
  <%= link_to "Edit this artist", edit_artist_path(@artist), class: "btn btn-warning" %>
  <%= link_to "Back to artists", artists_path, class: "btn btn-secondary" %>
  <%= button_to "Destroy this artist", @artist, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
</div>
