<h2 class="text-center my-4">Log in</h2>

<div class="d-flex justify-content-center">
  <div class="card shadow-lg p-5" style="max-width: 900px; width: 100%; border-radius: 15px; background-color: #f8f9fa;">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group mb-4">
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
      </div>

      <div class="form-group mb-4">
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control", autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="form-group form-check mb-4">
          <%= f.check_box :remember_me, class: "form-check-input" %>
          <%= f.label :remember_me, class: "form-check-label" %>
        </div>
      <% end %>

      <div class="text-center mb-4">
        <%= f.submit "Log in", class: "btn btn-primary btn-block w-100" %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>
