<div id="<%= dom_id album %>">
  <p>
    <strong>Title:</strong>
    <%= album.title %>
  </p>

  <p>
    <strong>Release date:</strong>
    <%= album.release_date %>
  </p>

  <p>
    <strong>Average rating:</strong>
    <%= album.average_rating %>
  </p>

  <p>
    <strong>Rated:</strong>
    <%= album.rated %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= album.language %>
  </p>

  <p>
    <strong>External link:</strong>
    <%= album.external_link %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= album.description %>
  </p>

  <p>
    <strong>Posted by:</strong>
    <%= album.posted_by_id %>
  </p>

</div>
