<div id="<%= dom_id album %>" class="card mt-3">
  <% if album.avatar.attached? %>
    <div class="d-flex flex-column justify-content-center mb-5 align-items-center gap-3">
      <%= image_tag album.avatar, alt: "#{album.title}'s cover", class: "w-25 h-25 rounded-3" %>
    </div>
  <% end %>

  <div class="card-body">
    <h5 class="card-title"><%= album.title %></h5>
    <p class="card-text"><strong>Release date:</strong> <%= album.release_date %></p>
    <p class="card-text"><strong>Average rating:</strong> <span class="average-rating"><%= album.average_rating %></span></p>
    <p class="card-text"><strong>Rated:</strong> <span class="rated"><%= album.rated %></span></p>
    <p class="card-text"><strong>Language:</strong> <%= album.language %></p>
    <p class="card-text"><strong>External link:</strong> <%= link_to album.external_link, album.external_link %></p>
    <p class="card-text"><strong>Description:</strong> <%= album.description %></p>
    <p class="card-text"><strong>Posted by:</strong> <%= album.posted_by_id %></p>
  </div>
</div>
