<div class="container mt-4">
  <h1>Albums</h1>
  <div class="mb-4">
    <%= link_to "New Album", new_album_path, class: "btn btn-primary" %>
    <%= link_to "Add Track", new_track_path, class: "btn btn-primary ml-2" %>
  </div>

  <%= form_with url: albums_path, method: :get, local: true, class: "mb-4" do %>
    <div class="form-group">
      <%= label_tag :search, "Search by title" %>
      <%= text_field_tag :search, params[:search], class: "form-control" %>
    </div>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>

  <table class="table table-striped">
    <thead class="thead-light">
    <tr>
      <th>Cover</th>
      <th><%= sortable "title", "Title" %></th>
      <th>Artist</th>
      <th><%= sortable "release_date", "Release date" %></th>
      <th><%= sortable "average_rating", "Average rating" %></th>
      <th><%= sortable "rated", "Rated" %></th>
      <th>Language</th>
      <th colspan="3">Actions</th>
    </tr>
    </thead>

    <tbody>
    <% @albums.each do |album| %>
      <tr id="album_<%= album.id %>">
        <td>
          <% if album.avatar.attached? %>
            <%= image_tag album.avatar, class: "img-thumbnail", size: "100x100" %>
          <% end %>
        </td>
        <td><%= album.title %></td>
        <td><%= link_to album.artist.name, artist_path(album.artist) %></td>
        <td><%= album.release_date %></td>
        <td><%= album.average_rating %></td>
        <td><%= album.rated %></td>
        <td><%= album.language %></td>
        <td><%= link_to "Show", album_path(album), class: "btn btn-info btn-sm" %></td>
        <% if album.posted_by_id == current_user.id %>
          <td><%= link_to "Edit", edit_album_path(album), class: "btn btn-warning btn-sm" %></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
